// movie card
.card
	margin-bottom: $card-border-radius * 2
	border-radius: $card-border-radius
	height: $card-height
	background: $card-background

	display: flex
	max-width: 100%

	.image
		padding: $card-padding
		padding-right: $card-padding
		img
			height: $card-height - $card-padding * 2
			border-radius: 4px
	.text
		padding: $card-padding
		padding-left: 0


		h2
			padding: 0
			margin: 0
			color: $card-title-color
			// white-space: nowrap
			// overflow: ellipses
			max-width: 89%
			cursor: pointer

		a.score
			padding-top: $card-padding
			color: $card-score-color
			display: flex
			justify-content: flex-start
			align-items: center
			text-decoration: none
			width: 100px

			&:hover
				text-decoration: underline

		img.imdb
			height: 15px
			margin-right: 3px

		p.info
			color: $card-info-color


// ui popups
.popup
	z-index: 1000
	margin-bottom: $card-border-radius * 2
	height: $popup-height
	background: lighten($card-background, 0%)
	border-radius: $card-border-radius
	padding: $card-padding

	width: 70vw
	margin: 0 auto

	// display: flex
	max-width: 100%

	h2
		padding: 0
		margin: 0
		color: $card-title-color
		// white-space: nowrap
		// overflow: ellipses
		max-width: 89%
		cursor: pointer

	p
		color: $card-info-color


