<div class="popup">

	<h2>What Even Is This?</h2>
	<p><i>What Should I Watch?</i> finds the best movies playing in your area currently, then shows you pertinent information for each title.</p>

	<p>The motivation for this project comes from my personal experiences in choosing a movie to watch. It's a small problem to be sure but one where there was no sufficient solution.</p>

	<p>Thanks to the following libraries and APIs that made this project possible:

		<ul>
			<li><a href="https://www.npmjs.com/package/findango-api">findango-api</a></li>
			<li><a href="http://www.omdbapi.com/">The OMDb</a></li>
			<li><a href="https://www.npmjs.com/package/geoip-lite">geoip-lite</a></li>
			<li><a href="https://www.npmjs.com/package/hapi">hapi</a></li>

		</ul>
	<p><a href="https://matthall.ml">Matt Hall</a> designed & programmed this website.</p>
</div>