<!DOCTYPE html>

<head>

<title><%=title%></title>


</head>

<body>
	<h1><%=title%></h1>

	<% rated.forEach((film) => { %>
    	<%- include('card', {film: film}); %>
  	<% }); %>
  	<hr>
  	Sadly we couldn't find any data on the films below
  	<% unrated.forEach((film) => { %>
    	<%- include('card', {film: film}); %>
  	<% }); %>


</body>