<title><%=title%></title>
<link rel="stylesheet" href="/public/css/main.css">

<meta name="description" content="A local movie showtimes aggregator to find the highest-reviewed films in your area.">
<meta name="viewport" content="width=device-width, initial-scale=0.75">
<meta name="author" content="Matt Hall">
<meta name="language" content="English">
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html">


<!-- 
	Thanks to this gist for the list of meta tags
	https://gist.github.com/MicBrain/46a9723158307fd30db66a4b2af85411 
-->

