html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  background: white; }

.card {
  margin-bottom: 20px;
  border-radius: 10px;
  max-height: 200px;
  background: #1F2745;
  max-width: 100%;
  width: 70vw;
  overflow: hidden;
  transition: max-height 0.25s ease; }
  .card .main {
    width: 100%;
    display: flex; }
    .card .main .image {
      padding: 10px;
      padding-right: 10px; }
      .card .main .image img {
        height: 180px;
        border-radius: 4px; }
    .card .main .text {
      padding: 10px;
      padding-left: 0;
      flex: 1; }
      .card .main .text .top {
        display: flex;
        justify-content: space-between; }
        .card .main .text .top .card-control {
          transform: rotate(45deg);
          color: #8691af;
          cursor: pointer;
          width: 12px;
          height: 12px;
          transition: 200ms ease all; }
        .card .main .text .top .card-control.expanded {
          transform: rotate(0deg); }
      .card .main .text h2 {
        padding: 0;
        margin: 0;
        color: #D3D7E2;
        cursor: pointer; }
      .card .main .text a.score {
        padding-top: 10px;
        color: #F9D448;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        width: 200px; }
        .card .main .text a.score:hover {
          text-decoration: underline; }
      .card .main .text img.imdb {
        height: 15px;
        margin-right: 3px; }
      .card .main .text p.info {
        margin-top: 1vh;
        color: #667da8; }
  .card .more {
    width: 100%;
    color: #667da8;
    padding: 10px;
    padding-top: 0;
    display: block; }
    .card .more .fact {
      padding-bottom: 10px;
      color: #667da8 !important; }

.card.expanded {
  max-height: 500px;
  top: 20vh;
  transition: max-height 0.5s ease; }

.popup {
  z-index: 1000;
  margin-bottom: 20px;
  height: auto;
  background: #1f2745;
  border-radius: 10px;
  padding: 2vh;
  width: 70vw;
  margin: 0 auto;
  max-width: 100%; }
  .popup h2 {
    padding: 0;
    margin: 0;
    color: #D3D7E2;
    max-width: 89%;
    cursor: pointer; }
  .popup p {
    color: #667da8;
    margin-bottom: 0; }
  .popup li, .popup a {
    color: #667da8;
    line-height: 1.5; }
  .popup a:visited {
    color: #667da8; }

div.container {
  width: 70vw;
  margin: 0 auto;
  transition: width 200ms ease; }
  div.container p {
    color: #667da8; }
    div.container p.theater {
      margin-top: 0;
      margin-bottom: 3vh; }
    div.container p.bottom {
      text-align: center; }
  div.container a {
    color: #667da8;
    line-height: 1.5; }
  div.container a:visited {
    color: #667da8; }

body {
  background: #151A30; }

h1 {
  color: #D3D7E2; }

header {
  display: flex;
  margin-bottom: 1.5vh;
  margin-top: 2.5vh;
  justify-content: space-between; }
  header h1 {
    color: #D3D7E2;
    margin: 0;
    font-size: 5.5vh;
    line-height: 7vh; }
  header h3.menu {
    color: #8691af;
    margin: 0;
    line-height: 7vh;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold; }
  header h3.menu:hover {
    text-decoration: underline; }

div.popups {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  z-index: 100;
  transition: 300ms ease all; }
  div.popups.disabled {
    opacity: 0; }

#CLOSE_ABOUT {
  position: fixed;
  display: none;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  transition: 300ms ease all; }
  #CLOSE_ABOUT.disabled {
    opacity: 0; }

@media only screen and (orientation: portrait) {
  div.container, .card, .popup {
    width: 95vw; } }
