$black: rgb(2,2,2)
$white: rgb(255,255,255)
$gray: #AAA

$lime: #b0eb00
$bright-red: #b30015
$dark-blue: #2a00b3
$deep-cerulean: #0077b3
$bondi-blue: #00b0b3
$cyan: #24fbff
$heliotrope: #8a7dff
$silver-chalice: #a6a6a6
$scorpion: #595959
$tundora: #444
$mine-shaft: #363636
$cod-gray: #111



*
	box-sizing: border-box
	// border: 1px solid rgba(0,0,0,0.5)



$title-color: #D3D7E2


$card-border-radius: 10px
$card-padding: 10px
$card-gray: #eee
$card-score-width: 125px
$card-background: #1F2745
$card-height: 200px

$card-title-color: $title-color
$card-score-color: #F9D448
$card-info-color: #4f648c

$background: #151A30


// popups
$popup-height: 80vh



